importFrom(magrittr, "%>%")
importFrom(logger, log_trace)
export(createDatabase)
export(createSigIFN)
export(createSigTP53)
export(createSigRAS)
export(createSigMPAS)
export(getAvana)
export(getCelllineAnnotation)
export(getCopynumber)
export(getDatabaseOverview)
export(getDrive)
export(getDrugComb)
export(getEnsemblDBConnection)
export(getEnsemblExon)
export(getEnsemblGene)
export(getEnsembl)
export(getEnsemblTranscript)
export(getEntrezGene2EnsemblGene)
export(getEntrez)
export(getEntrezGene)
export(getFileData)
export(getFileDownload)
export(getMetabolomics)
export(getMetMap)
export(getMicrosatelliteStability)
export(getMSigDB)
export(getMutations)
export(getPostgresqlConnection)
export(getPrism)
export(getProteomicsMassSpec)
export(getProteomicsRPPA)
export(getRefseq)
export(getRNAseq)
export(getSanger)
export(getUniprot)
export(getVersion)
export(modifyCanonicalTranscript)
export(writeDatabase)
export(writeEntrezGene2EnsemblGene)
export(registerGeneInfoDownloadFunction)
export(addLossOfY)
export(getDBConfig)
export(setDBconfig)
S3method(print,GeneInfo2DatabaseConfig)
export(print.GeneInfo2DatabaseConfig)
