importFrom(magrittr, "%>%")
importFrom(logger, log_trace)
export(createDatabase)
export(createCelllineSigIFN)
export(createCelllineSigTP53)
export(createCelllineSigRAS)
export(createCelllineSigMPAS)
export(getCelllineAvana)
export(getCelllineAnnotation)
export(getCelllineCopynumber)
export(getDatabaseOverview)
export(getCelllineDrive)
export(getCelllineDrugComb)
export(getEnsemblDBConnection)
export(getEnsemblExon)
export(getEnsemblGene)
export(getEnsembl)
export(getEnsemblTranscript)
export(getEntrezGene2EnsemblGene)
export(getEntrez)
export(getEntrezGene)
export(getFileData)
export(getFileDownload)
export(getGeneSet)
export(getCelllineGSVA)
export(getCelllineMetabolomics)
export(getCelllineMetMap)
export(getCelllineMicrosatelliteStability)
export(getMSigDB)
export(getCelllineMutations)
export(getPostgresqlConnection)
export(getCelllinePrism)
export(getCelllineProteomicsMassSpec)
export(getCelllineProteomicsRPPA)
export(getRefseq)
export(getCelllineRNAseq)
export(getCelllineSanger)
export(getUniprot)
export(getVersion)
export(modifyCelllineCanonicalTranscript)
export(writeDatabase)
export(writeEntrezGene2EnsemblGene)
export(registerGeneInfoDownloadFunction)
export(addCelllineLossOfY)
export(getDBConfig)
export(setDBconfig)
S3method(print,GeneInfo2DatabaseConfig)
export(print.GeneInfo2DatabaseConfig)
export(getTissueProcessedRNASeq)
export(getTissueProcessedRNASeqProjects)
export(getTissueRNAseqGroup)
export(getTissueCopyNumber)
